.text-size {
    font-size: 2rem;
}

.site-icon {
    width: 20%;
    max-width: 180px;
    height: auto;
    object-fit: contain;
}

.gradient-btn-conf {
    background: linear-gradient(95deg, #013364, #ffa500);
    color: white;
    border: darkblue;
}

a,
h1,
h3 {
    color: white !important;

}

.img-conf-size {
    width: 90%;
    max-width: 280px;
}

.text-dark {
    color: #212529 !important;
}

.text-light {
    color: #6c757d !important;
}

.title-footer {
    font-family: 'Montserrat';
    color: white;
    font-weight: bold;
}

.r-text-footer {
    font-family: "Open Sans Regular";
    color: lightgrey;
}

.social-link {
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #208fff !important;
}


.img-conf-bacs {
    width: 10%;
    max-width: 280px;
    height: auto;
    object-fit: contain;
}